/SistemaDeGestionHotel/nbproject/private/
/SistemaDeGestionHotel/build/
/SistemaDeGestionHotel/dist/
/RegistroCivil/nbproject/private/
/Ormeño_Catalina_DSY1102_PP1_014d/SistemaRegistroAsignaturas/nbproject/private/
/Ormeño_Catalina_DSY1102_PP1_014d/SistemaRegistroAsignaturas/build/
