/SistemaDeGestionHotel/nbproject/private/
/SistemaDeGestionHotel/build/
/SistemaDeGestionHotel/dist/
/RegistroCivil/nbproject/private/
/Ormeño_Catalina_DSY1102_PP1_014d/SistemaRegistroAsignaturas/nbproject/private/
/Ormeño_Catalina_DSY1102_PP1_014d/SistemaRegistroAsignaturas/build/
/Experiencia1/DentaLife/DentaLife/nbproject/private/
/Experiencia2/DentaLife/nbproject/private/
/Experiencia2/DentaLife_v2/nbproject/private/
/Experiencia2/Veterinaria/nbproject/private/
/Experiencia2/MundoMascotas/nbproject/private/
/Experiencia2/MundoMascotas/build/
/Experiencia2/SistemaComercioElectronico/nbproject/private/
/Experiencia2/SistemaComercioElectronico/build/
